{% load staticfiles %}
<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="{% static 'vendor/jquery-mobile/jquery.mobile-1.4.5.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/other/jquery.mobile.datepicker.css' %}" rel="stylesheet"/>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-mobile/jquery.mobile-1.4.5.min.js' %}"></script>
    <script src="{% static 'vendor/other/jquery.ui.datepicker.js' %}"></script>
    <script id="mobile-datepicker" src="{% static 'vendor/other/jquery.mobile.datepicker.js' %}"></script>
    {% block jsextra %}{% endblock %}

	<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=09d48141d5414f05ba70c871b77934dd"></script>-->
	<!--<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=09d48141d5414f05ba70c871b77934dd&v=1.0"></script>-->
    <script src="http://api.map.baidu.com/api?v=2.0&ak=09d48141d5414f05ba70c871b77934dd" type="text/javascript"></script>
    <!--
	<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
    -->
    <style type="text/css">
	 #mapbody {width: 80%;height: 400px;overflow: hidden;margin:0;font-family:"微软雅黑";float:left;}
     #iconindicator {width:20%; height:400px;margin:0;float:left;}
	</style>
    <script src="{% static "js/datetime.js" %}"></script>
    <title></title>
</head>
<body {% block bodyparam %}{% endblock %}>
<!-- Start of first page -->
<div data-role="page" id="m_record">
	<div data-role="header">
        <div data-role="navbar">
        {% block navbar %}{% endblock %}
        </div><!-- /navbar -->
	</div><!-- /header -->

	<div role="main" class="ui-content">
    {% block record_form %}Site{% endblock %}
    </div>


	</div><!-- /content -->

	<div data-role="footer">
		<h4>end</h4>
	</div><!-- /footer -->
</div><!-- /page -->

<script src="{% static 'mobile/js/base_generic.js' %}"></script>
<script src="{% static "mobile/js/bmap.js" %}"></script>
{% block lastjs %}
{% endblock %}
</body>
</html>