<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    {% load bootstrap_toolkit %}
    {% block extra_head %}
        {{ form.media }}
    {% endblock %}
    <meta name="description" content="">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>修改密码</h2>

    {% if oldpassword_is_wrong %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>错误!</h4>原密码不正确
        </div>
    {% endif %}
    {% if changepwd_success %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>密码修改成功，请确定重新登陆!</h4>
        </div>
    {% endif %}
    <div class="well">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <p class="form-actions">
                <input type="submit" value="确认修改" class="btn btn-primary">
            </p>
        </form>
    </div>

</body>
</html>