{% extends "base_generic.html" %}
{% load staticfiles %}

{% block jsextra %}
<script src="{% static "js/l.js" %}"></script>
{% endblock %}

{% block record_form %}
        <form id="searchform">
            <table>
                <tr><td>开始日期</td><td><input type="text" id="start_date"/></td>
                <td>结束日期</td><td><input type="text" id="end_date"/></td>
                 <td><input type="button" onclick="seachform_submit()" value="查看记录"/></td>
                </tr>

            </table>
        </form>
        <table border="1" width="100%">
            <tr><td>日期</td><td>胡同(街)</td><td>门牌</td><td>反应</td><td>义工</td></tr>
{% if records|length > 0 %}
  {% for  v in records %}
    <tr name="recordtr" id="record-{{ v.id }}" mapx="{{ v.map_x }}" mapy="{{ v.map_y }}"><td>{{v.visit_date|date:"Y-m-d D"}}<td>{{v.street}}</td><td>{{v.num}}</td><td>{% ifequal v.response "1" %}续访{% endifequal %}{% ifequal v.response "0" %}拒绝{% endifequal %}</td><td>{{v.volunteer}}</td></tr>
  {% endfor %}
{% else %}
<tr><td colspan="6">要多多做工作</tr>
{% endif %}
        </table>
{% endblock %}