{% extends "base_generic.html" %}
{% load staticfiles %}

{% block jsextra %}
<script src="{% static "js/l.js" %}"></script>
<script language="javascript">
 var accept_data_info = [
 {% if records|length > 0 %}
  {% for  v in records %}
    {% ifequal v.householder.response "1" %}
  [{{ v.householder.map_x }},{{ v.householder.map_y }},"{{ v.householder.name }},{{v.householder.num}},{% ifequal v.householder.response "1" %}<b>续访</b>{% endifequal %}{% ifequal v.householder.response "0" %}<b>拒绝</b>{% endifequal %}{% ifequal v.householder.response "2" %}<b>拜访过</b>{% endifequal %}, {{v.visit_date|date:"Y-m-d D"}}来过."],
    {% endifequal %}
  {% endfor %}
{% endif %}
];
 var refuse_data_info = [
 {% if records|length > 0 %}
  {% for  v in records %}
    {% ifequal v.householder.response "0" %}
  [{{ v.householder.map_x }},{{ v.householder.map_y }},"{{ v.householder.name }},{{v.householder.num}},{% ifequal v.householder.response "1" %}<b>续访</b>{% endifequal %}{% ifequal v.householder.response "0" %}<b>拒绝</b>{% endifequal %}{% ifequal v.householder.response "2" %}<b>拜访过</b>{% endifequal %}, {{v.visit_date|date:"Y-m-d D"}}来过."],
    {% endifequal %}
  {% endfor %}
{% endif %}
];
 var visited_data_info = [
 {% if records|length > 0 %}
  {% for  v in records %}
    {% ifequal v.householder.response "2" %}
  [{{ v.householder.map_x }},{{ v.householder.map_y }},"{{ v.householder.name }},{{v.householder.num}},{% ifequal v.householder.response "1" %}<b>续访</b>{% endifequal %}{% ifequal v.householder.response "0" %}<b>拒绝</b>{% endifequal %}{% ifequal v.householder.response "2" %}<b>拜访过</b>{% endifequal %}, {{v.visit_date|date:"Y-m-d D"}}来过."],
    {% endifequal %}
  {% endfor %}
{% endif %}
];
$(document).ready(function(){addAcceptMarkPoints(accept_data_info);addRefuseMarkPoints(refuse_data_info);addVisitedMarkPoints(visited_data_info);});

</script>
{% endblock %}

{% block record_form %}
        <form id="searchform">
            <table style="margin-top:15px;">
                <tr>
                    <td>开始日期</td>
                    <td><input type="text" id="start_date" readOnly="true" value="{{ start_date }}" /></td>
                    <td>结束日期</td>
                    <td><input type="text" id="end_date" readOnly="true" value="{{ end_date }}"/></td>
                    <td><input type="button" onclick="seachform_submit()" value=" 查看记录 "/></td>
                    <td><input type="button" onclick="thismonth_submit()" value="  本月  "/></td>
                    <td><input type="button" onclick="lastmonth_submit()" value="  上月  "/></td>
                    <td><input type="button" onclick="frommonth_submit()" value="  最近30天  "/></td>
                </tr>
                <tr align="left">
                    <td colspan="8"><input type="button" onclick="csvexport_submit()" value=" 导出CSV "/>
                </tr>
            </table>
        </form>
        <table border="1" width="100%">
            <tr><td>日期</td><td>姓名</td><td>性别</td><td>胡同(街)</td><td>门牌</td><td>反应</td><td>义工</td></tr>
{% if records|length > 0 %}
  {% for  v in records %}
    <tr name="recordtr" id="record-{{ v.id }}" mapx="{{ v.householder.map_x }}" mapy="{{ v.householder.map_y }}">
        <td>{{v.visit_date|date:"Y-m-d D"}}</td>
        <td>{{v.householder.name}}</td>
        <td>{% ifequal v.householder.sex "1" %}男{% endifequal %}{% ifequal v.householder.sex "0" %}女{% endifequal %}{% ifequal v.householder.sex "2" %}其他{% endifequal %}</td>
        <td>{{v.householder.street}}</td>
        <td>{{v.householder.num}}</td>
        <td>{% ifequal v.householder.response "1" %}<b>续访</b>{% endifequal %}{% ifequal v.householder.response "0" %}拒绝{% endifequal %}{% ifequal v.householder.response "2" %}去过{% endifequal %}</td>
        <td>{{v.volunteer}}</td>
    </tr>
  {% endfor %}
{% else %}
<tr><td colspan="7">要多多做工作</tr>
{% endif %}
        </table>
        <br/>
        <table border="1" width="50%">
        <tr><td>接受</td><td>拒绝</td><td>去过</td></tr>
        <tr><td>{{ rs_sum.a }}次</td><td>{{ rs_sum.r }}次</td><td>{{ rs_sum.v }}户</td></tr>
        </table>
{% endblock %}