<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title></title>
</head>
<body>
<p>
Welcome:{{ user }}
<ol>
    <li><a href="/l">查看（电脑版）</a></li>
    <li><a href="/r">记录（电脑版）</a></li>
    -
    <li><a href="/m">手机版</a></li>
    -
    <li><a href="/users/cp">修改密码</a></li>
    <li><a href="/accounts/logout/">退出</a></li>
</ol>
<ol></ol>
</p>
</body>
</html>