{% extends "base_generic.html" %}

{% load staticfiles %}

{% block title %}记录{% endblock %}
{% block jsextra %}
<script src="{% static "js/r.js" %}"></script>
{% endblock %}


{% block record_form %}
        <form id="record_form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="bmapx"/>
        <input type="hidden" name="bmapy"/>
        <input type="hidden" name="map_level1"/>
        <input type="hidden" name="map_level2"/>
        <table border="1" width="100%">
            <tr><td>日期</td><td><input type="text" name="visit_date" id="visit_date" readOnly="true" value=""/></td></tr>
            <tr><td>胡同(街)</td><td><input type="text" name="street"/></td></tr>
            <tr><td>门牌</td><td><input type="text" name="num"/></td></tr>
            <tr><td>受访者姓名</td><td><input type="text" name="householder_name"/></td></tr>
            <tr><td>受访者性别</td><td>
            <input type="radio" name="householder_sex" value="1"/>男
            <input type="radio" name="householder_sex" value="0"/>女
            <input type="radio" name="householder_sex" value="2"/>其它
            </td></tr>
            <tr><td>反应</td><td><input type="radio" name="response" value="1"/>继续<input type="radio" name="response" value="0"/>拒绝</td></tr>
            <tr><td>义工</td><td><input type="text" name="volunteer" readonly="readonly" value="{{ user }}"/></td></tr>
            <tr><td colspan="2"><label>保存前请在地图上点击地址</label></td></tr>
            <tr><td colspan="2"><input type="button" onclick="saveform_submit()" value="记录"/></td></tr>
        </table>
        </form>
{% endblock %}