<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="static/css/record.css" type="text/css"  rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div class="header"><a href="/r">记录</a>      <a href="/l">查看</a></div>
    <div class="map">
        <div class="mapheader">
            <select><option value="a">A</option></select>
            <select><option value="1">1</option></select>
        </div>
        <div class="mapbody">
             <img src="http://map.tqybw.net/ditu/beijing/picture/2013044773.jpg"/>
        </div>
    </div>
    <div class="record_form">
        <form>
        <table>
            <tr><td>日期</td><td>dfad</td></tr>
            <tr><td>义工</td><td><input type="text"/></td></tr>
        </table>
        </form>
    </div>
</div>
</body>
</html>